    @font-face {
        font-family: winterKei;
        src: url(../font/winterKei.ttf);
    }
    
    @font-face {
        font-family: louis;
        src: url(../font/louis.ttf);
    }
    
    @font-face {
        font-family: timer;
        src: url(../font/Minecraft.ttf);
    }
    
    body {
        overflow: hidden;
    }
    
    #container {
        height: 100%;
        width: 100%;
        position: fixed;
        background-position: center;
        background-image: url(../image/bg.png);
        background-size: cover;
        float: None;
    }
    
    #leaderboard {
        min-height: 100vh;
        width: 100%;
        position: fixed;
        background-position: center;
        background-image: url(../image/leaderboard_bg.png);
        background-size: cover;
        float: None;
    }
    
    #launchdate {
        font-family: louis;
        font-size: 0.9vmax;
        letter-spacing: 0.05em;
        margin: 0;
        color: #8acfe6;
        padding-bottom: 2vmax;
        text-shadow: 2px 2px 15px #c3ddee;
    }
    
    font {
        font-size: 6vmax;
        transition: .25s;
        font-variant: initial;
        font-family: winterKei;
        color: white;
        text-shadow: 0px 0px 20px #b0e3e7;
    }
    
    #intro,
    #semi_intro,
    #countText,
    header {
        color: white;
        text-align: center;
        font-family: louis;
        font-size: 1.1vmax;
        line-height: 1.7vmax;
        letter-spacing: 0.08vmax;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0.1%;
        text-shadow: 0px 0px 20px #7cced4;
    }
    
    #semi_intro,
    header {
        font-size: 1vmax;
    }
    
    #countDown {
        color: #107393;
        text-align: center;
        font-family: timer;
        font-size: 2vmax;
        line-height: 1.7vmax;
        letter-spacing: 0.08vmax;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        text-shadow: 0px 0px 20px #7cced4;
    }
    
    mainHeader {
        font-size: 2.5vmax;
        transition: .25s;
        font-variant: initial;
        font-family: winterKei;
        color: white;
        text-shadow: 0px 0px 20px #b0e3e7;
    }
    
    h3 {
        color: yellow;
        font-weight: bold;
        font-style: unset;
        font-size: 20px;
    }
    
    .box {
        text-align: center;
        padding-bottom: 3%;
    }
    
    .box input[type="submit"] {
        font-family: winterKei;
        width: 13vmax;
        overflow: hidden;
        border: 1px solid transparent;
        padding: 1.5%;
        font-size: 0.9vmax;
        transition: 0.5s;
        letter-spacing: 3px;
        border-radius: 5px;
        background: #81b7da;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        outline: None;
    }
    
    .box input[type="submit"]:hover,
    .box input[type="submit"]:focus {
        background-color: white;
        color: #81b7da;
        outline: None;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    /* Responsive UI */
    
    @media screen and (max-width: 1200px) {
        #intro {
            font-size: 1.5vmax;
        }
        #launchdate {
            font-size: 1.5vmax;
        }
        #semi_intro,
        header {
            font-size: 1.3vmax;
        }
    }
    
    @media screen and (max-width: 900px) {
        #intro {
            font-size: 1.7vmax;
            line-height: 2.5vmax;
        }
        #launchdate {
            font-size: 1.2vmax;
        }
        .box input[type="submit"] {
            font-size: 1vmax;
        }
        #semi_intro,
        header {
            font-size: 1.3vmax;
        }
        button {
            font-size: 2.8vmax;
        }
    }
    
    #contestant::-webkit-scrollbar {
        /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
    }
    
    #contestant {
        /* Hide scrollbar for IE, Edge and Firefox */
        overflow: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        padding-right: 1%;
        padding-left: 1%;
        height: 50vh;
    }
    
    table {
        border: none;
    }
    
    th,
    td {
        color: #5a5a5a;
        font-family: louis;
        letter-spacing: 0.2px;
        padding: 5px;
        text-align: center;
        font-size: 2.2vmin;
        border: none;
    }
    
    th {
        padding-bottom: 2%;
        padding-top: 2%;
        font-family: louis;
        font-size: 2.2vmin;
        color: #107393;
    }
