    .box {
        text-align: center;
        width: 60vw;
        margin: auto;
    }
    
    .box input[type="text"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #4ea1bd;
        padding: 14px 10px;
        width: 220px;
        outline: none;
        color: rgb(100, 100, 100);
        border-radius: 24px;
        cursor: text;
        font-family: louis;
        font-size: 0.9vmax;
    }
    
    .box input[type="text"]:hover,
    .box input[type="text"]:focus {
        width: 280px;
        border-color: white;
        transition: .25s;
    }
    
    .box input[id="f"] {
        float: center;
        -webkit-appearance: none;
        border: none;
        width: 10vmax;
        height: 7vmax;
        background: url(../image/fan.png) center no-repeat;
        background-size: contain;
        filter: brightness(40%);
    }
    
    .box input[id="o"] {
        float: center;
        -webkit-appearance: none;
        border: none;
        width: 10vmax;
        height: 7vmax;
        background: url(../image/oc.png) center no-repeat;
        background-size: contain;
        filter: brightness(40%);
    }
    
    .box input[id="a"] {
        float: center;
        -webkit-appearance: none;
        border: none;
        width: 10vmax;
        height: 7vmax;
        background: url(../image/ac.png) center no-repeat;
        background-size: contain;
        filter: brightness(50%);
    }
    
    .box input[id="f"]:hover,
    .box input[id="o"]:hover,
    .box input[id="a"]:hover {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        filter: brightness(70%);
        transition: .25s;
    }
    
    .box input[id="f"]:focus,
    .box input[id="o"]:focus,
    .box input[id="a"]:focus {
        outline: none;
    }
    
    .box input[id="f"]:checked,
    .box input[id="o"]:checked,
    .box input[id="a"]:checked {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.8, 1.8);
        filter: brightness(120%);
        transition: .25s;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        text-decoration: underline;
    }
    /* Responsive UI */
    
    @media screen and (max-width: 1200px) {
        .box input[type="text"] {
            font-size: 1.2vmax;
            width: 150px;
        }
        .box input[type="text"]:hover {
            width: 200px;
        }
    }
    
    @media screen and (max-width: 900px) {
        .box input[type="text"] {
            font-size: 1.2vmax;
            line-height: 2.5vmax;
            width: 150px;
        }
        .box input[type="text"]:hover {
            width: 220px;
        }
    }
    
    header {
        margin-top: 1vmax;
        color: #4ea1bd;
    }