<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <!--Meta Information about the page-->
    <meta name="Winter Throne" content="An Unofficial contest organized by Jrke with the collaboration of CodinGame" />
    <meta name="author" content="jrke" />
    <meta name="keywords" content="codingame" />
    <meta name="keywords" content="winter throne" />
    <meta name="keywords" content="unofficial competition" />

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" href="static/h_style.css">
    <link rel="icon" href="icon.jpg" type="image/jpg">

    <title>Winter Throne</title>

</head>


<body style="margin:0;position:relative;">

    <div id="section">

        <div style="display:flex; height:100%; align-items: center;">

            <div style="text-align:center; margin:auto">

                <font>Winter Throne</font>
                <p id="launchdate">From 2020-10-10 6am UTC to 2020-10-20 7am UTC</p>

                <p id="intro">An Unofficial Codingame Contest organised by Jrke in collaboration with CodinGame.</p>
                <p id="intro">We're a small community of individuals who enjoy community contest and wish to involve ourselves in low participation games.</p>


                <form class="box" action="#" method="post">
                    <input type="submit" name="sub" value="Register">
                    <input type="submit" name="sub" value="Leaderboard">
                </form>

            </div>

        </div>

    </div>

</body>

</html>