<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/h_style.css">
    <link rel="icon" href="icon.jpg" type="image/jpg">
    <title>Home</title>
</head>
<body>
    <font size = 500>Winter Throne</font> 
    <p>Welcome to Winter Throne Arena.Winter Throne is an Unofficial Codingame Contest organised by jrke with collaboration of Codingame.</p>
    <p>In order to succesfully accomplish our Contest there are some rules read them carefully on our discord channel.</p>
    <h2>ALL THE BEST</h2>
    <form class="box" action="#" method="post">
        <input type="submit" name="sub" value="Register">
        <input type="submit" name="sub" value="Leaderboard">
    </form>
</body>
</html>
